/* Navbar transparente */
.navbar {
    background-color: transparent !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.bg-color{
    background-color: black;
}

.font {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.styleFooter {
    font-size: 25px;
}